<%= form_with(model: engine) do |form| %>
  <% if engine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(engine.errors.count, "error") %> prohibited this engine from being saved:</h2>

      <ul>
        <% engine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mass %>
    <%= form.text_field :mass %>
  </div>

  <div class="field">
    <%= form.label :max_torque %>
    <%= form.text_field :max_torque %>
  </div>

  <div class="field">
    <%= form.label :max_hp %>
    <%= form.text_field :max_hp %>
  </div>

  <div class="field">
    <%= form.label :max_rpm %>
    <%= form.text_field :max_rpm %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
